ul li a:hover {
    color: #FF8C7A;
    background-color: #FF8C7A;

}

body {
    background-color: #FFFDED;
}

.space {
    letter-spacing: 2px;
}

.nospace {
    letter-spacing: 0px;
}

.sunday {
    opacity: 1;
    background-color: #0000;
    background-image: url(people/banner.webp), linear-gradient(#0000003b, #0000003b);
    background-position: 0%, 50% 43%, 0 0;
    background-size: cover, cover, auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    max-width: none;
    min-height: 50vh;
    max-height: 75vh;
    transition: opacity .2s;
    display: flex;
    transform: translate(0);
}

.dinner {

    opacity: 1;
    background-color: #0000;
    background-image: url(image/menu.jpg), linear-gradient(#0000003b, #0000003b);
    background-position: 0%, 50% 43%, 0 0;
    background-size: cover, cover, auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    max-width: none;
    min-height: 50vh;
    max-height: 75vh;
    transition: opacity .2s;
    display: flex;
    transform: translate(0);

}

/* button a:hover{
    background-color: #FF8C7A;
} */

/* form{
    background-color:#FFFDED ;
    border-color: #02594D;
    border-width: 1px;
} */
form input {
    width: 700px;
    background-color: #FFFDED;
    border-color: #02594D;
    border-width: 1px;
    border-top-color: #02594D;
    line-height: 2px;

}

textarea {
    width: 700px;
    background-color: #FFFDED;
    border-color: #02594D;
    border-width: 1px;
    height: 150px;
}

select {
    width: 700px;
    background-color: #FFFDED;
    border-color: #02594D;
    border-width: 1px;

}

/* option{
    color:#02594D;
} */

.nocturnous {
    opacity: 1;
    background-color: #0000;
    background-image: url(image/nocturnous.jpg), linear-gradient(#0000003b, #0000003b);
    background-position: 0%, 50% 43%, 0 0;
    background-size: cover, cover, auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    max-width: none;
    min-height: 50vh;
    max-height: 75vh;
    transition: opacity .2s;
    display: flex;
    transform: translate(0);
}

.landingimg {
    z-index: 0;
    background-color: var(--black);
    -webkit-text-fill-color: inherit;
    object-fit: cover;
    background-clip: border-box;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    inset: 0% auto auto 0%;
    background-position: 50% 50%;
}

@media screen and (max-width: 991px) {
    .landingimg {
        height: 100%;
    }
}

.navbar-brand {
    justify-content: center;
    color: #87b3ac !important;
    /* Greenish */
    font-size: 1.8rem;

}

.nav-link {
    color: #014034 !important;
    /* Dark teal */
    font-weight: 600;
    margin-left: 1rem;
    text-transform: uppercase;
}

.navbar {
    background-color: #fffdee !important;
    border-bottom: 1px solid #eee;
}

.fonts {
    font-size: 18px;
}